html,
body {
    /* https://www.qsxqd.com/#/class/f21cb7c1-4fd8-11ea-b8de-3b2f0948923f */
    height: 100%;
    overflow: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font: 14px "微软雅黑";
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

img {
    display: block;
}

.clearfix {
    *zoom: 1;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.commonTitle {
    color: #009ee0;
    font-size: 80px;
    line-height: 0.8;
    font-weight: bold;
    letter-spacing: -5px;
}

.commonText {
    color: white;
    line-height: 1.5;
    font-size: 15px;
}


/* 公共样式结束 */


/* 头部样式 */

#head {
    background-color: black!important;
    width: 100%;
}

#head .headMain {
    width: 1100px;
    height: 80px;
    /* background-color: pink; */
    margin: 0 auto;
    position: relative;
}

#head .headMain>.logo {
    float: left;
    margin-top: 30px;
}

#head .headMain>.nav {
    float: right;
    margin-top: 50px;
}

#head .headMain>.nav>.list>li {
    float: left;
    margin-left: 40px;
    position: relative;
}

#head .headMain>.nav>.list>li .up {
    color: red;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 1s width;
}

#head .headMain>.nav>.list>li:hover .up {
    width: 100%;
}

#head .headMain>.arrow {
    width: 40px;
    height: 3px;
    background: red;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: 1s left;
    z-index: 2;
}

#content {
    /* height: 300px; */
    /* background-color: blue; */
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url();
}

#content>.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 1s top;
}

#content>.list>li {
    position: relative;
    background-position: 50% 50%!important;
    overflow: hidden;
}

#content>.list>li>section {
    width: 1100px;
    height: 520px;
    /* background-color: red; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/* 第一屏 */

#content>.list>.home {
    background: url() no-repeat;
}

#content>.list>.home .home1 {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* background-color: pink; */
}

#content>.list>.home .home1>li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
}

#content>.list>.home .home1>li:nth-child(1) {
    background-color: #dc6c5f;
}

#content>.list>.home .home1>li:nth-child(2) {
    background-color: #95dc84;
}

#content>.list>.home .home1>li:nth-child(3) {
    background-color: #64b9d2;
}

#content>.list>.home .home1>li:nth-child(4) {
    background-color: #000;
}

#content>.list>.home .home1>li>div {
    color: white;
    text-align: center;
    margin-top: 200px;
}

#content>.list>.home .home1>li.active {
    visibility: visible;
}

#content>.list>.home .home2 {
    position: absolute;
    left: 0;
    right: 0;
    /* background-color: purple; */
    text-align: center;
}

#content>.list>.home .home2>li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(25, 25, 25, 0.8);
    display: inline-block;
    cursor: pointer;
}

#content>.list>.home .home2>li.active {
    background-color: white;
    cursor: default;
}


/* 从左往右 */

#content>.list>.home .home1>li.leftHide {
    visibility: hidden;
    animation: 2s leftHide 1 linear;
}

#content>.list>.home .home1>li.rightShow {
    visibility: visible;
    animation: 2s rightShow 1 linear;
}

@keyframes leftHide {
    0% {
        visibility: visible;
    }
    50% {
        transform: translateX(-40%) rotateY(30deg) scale(0.8);
    }
    100% {
        transform: translateZ(-200px);
    }
}

@keyframes rightShow {
    0% {
        visibility: hidden;
        transform: translateZ(-200px);
    }
    50% {
        transform: translateX(40%) rotateY(-30deg) scale(0.8);
    }
    100% {}
}


/* 从右往左 */

#content>.list>.home .home1>li.leftShow {
    visibility: visible;
    animation: 2s leftShow 1 linear;
}

#content>.list>.home .home1>li.rightHide {
    visibility: hidden;
    animation: 2s rightHide 1 linear;
}

@keyframes leftShow {
    0% {
        visibility: hidden;
        transform: translateZ(-200px);
    }
    50% {
        transform: translateX(-40%) rotateY(30deg) scale(0.8);
    }
    100% {}
}

@keyframes rightHide {
    0% {
        visibility: visible;
    }
    50% {
        transform: translateX(40%) rotateY(-30deg) scale(0.8);
    }
    100% {
        transform: translateZ(-200px);
    }
}


/* 第二屏 */

#content>.list>.course {
    background: url() no-repeat;
}

#content>.list>.course .course1 {
    margin: 50px;
    position: relative;
    z-index: 2;
}

#content>.list>.course .course2 {
    margin-left: 50px;
    width: 400px;
    position: relative;
    z-index: 2;
}

#content>.list>.course .course3 {
    width: 480px;
    background-color: violet;
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 70px;
}

#content>.list>.course .course3 .item {
    float: left;
    width: 120px;
    height: 132px;
    background-color: teal;
    position: relative;
    perspective: 500px;
    transform: preserve-3d;
    /* margin-left: 1px; */
}

#content>.list>.course .course3 .item .face,
#content>.list>.course .course3 .item .backFace {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    transition: 1s transform;
}

#content>.list>.course .course3 .item .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
    background-position: 50% 50%;
}

#content>.list>.course .course3 .item:nth-of-type(1) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(2) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(3) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(4) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(5) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(6) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(7) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(8) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(9) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(10) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(11) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item:nth-of-type(12) .backFace {
    background-color: blueviolet;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .item .face {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #009ee0;
    color: white;
}

#content>.list>.course .course3 .item:hover .face {
    transform: rotateY(360deg);
}

#content>.list>.course .course3 .item:hover .backFace {
    transform: rotateY(180deg);
}

#content>.list>.course .course3 .line {
    top: -7px;
    width: 9px;
    height: 410px;
    background-color: white;
    position: absolute;
    background-image: url() no-repeat;
}

#content>.list>.course .course3 .line:nth-of-type(1) {
    left: -5px;
}

#content>.list>.course .course3 .line:nth-of-type(2) {
    left: 115px;
}

#content>.list>.course .course3 .line:nth-of-type(3) {
    left: 235px;
}

#content>.list>.course .course3 .line:nth-of-type(4) {
    left: 355px;
}

#content>.list>.course .course3 .line:nth-of-type(5) {
    left: 475px;
}


/* 第三屏 */

#content>.list>.works {
    background: url() no-repeat;
}

#content>.list>.works .works1 {
    margin: 50px 0px 100px 50px;
    position: relative;
    z-index: 2;
}

#content>.list>.works .works2 {
    margin-left: 50px;
    position: relative;
    z-index: 2;
}

#content>.list>.works .works2>.item {
    float: left;
    width: 220px;
    height: 133px;
    background-color: green;
    margin: 0 1px;
    position: relative;
    overflow: hidden;
}

#content>.list>.works .works2>.item .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    transition: 1s opacity;
}

#content>.list>.works .works2>.item .mask .icon {
    width: 32px;
    height: 34px;
    background-color: red;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url() no-repeat;
    transition: 1s background-position;
}

#content>.list>.works .works2>.item .mask .icon:hover {
    background-position: 0 -35px;
}

#content>.list>.works .works2>.item img {
    transition: 1s transform;
}

#content>.list>.works .works2>.item:hover .mask {
    opacity: 0.8;
}

#content>.list>.works .works2>.item:hover img {
    transform: rotate(30deg) scale(1.5);
}

#content>.list>.works .works3 {
    width: 167px;
    height: 191px;
    background-color: chartreuse;
    background-image: url() no-repeat;
    left: 900px;
    top: 170px;
    position: absolute;
    z-index: 2;
    animation: works3Move 3s linear infinite;
}

@keyframes works3Move {
    0% {
        transform: translateX(0px) rotateY(0deg);
    }
    49% {
        transform: translateX(-490px) rotateY(0deg);
    }
    50% {
        transform: translateX(-500px) rotateY(180deg);
    }
    100% {
        transform: translateX(0px) rotateY(180deg);
    }
}

#content>.list>.works .works2>.item:last-child {
    width: 332px;
}


/* 第四屏 */

#content>.list>.about {
    background: url() no-repeat;
}

#content>.list>.about .about1 {
    margin: 50px 0 100px 50px;
}

#content>.list>.about .about2 {
    margin-left: 50px;
    width: 400px;
}

#content>.list>.about .about4 {
    width: 357px;
    height: 998px;
    position: absolute;
    background-image: url() no-repeat;
    left: 50%;
    top: -10px;
}

#content>.list>.about .about3>.item {
    width: 260px;
    height: 200px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

#content>.list>.about .about3>.item:nth-child(1) {
    left: 750px;
    top: 50px;
}

#content>.list>.about .about3>.item:nth-child(2) {
    left: 600px;
    top: 290px;
}

#content>.list>.about .about3>.item>span,
#content>.list>.about .about3>.item>ul {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#content>.list>.about .about3>.item:nth-child(1)>span {
    background: url() no-repeat;
    background-color: white;
    transform: scale(1.5);
    transition: 1s transform;
}

#content>.list>.about .about3>.item:nth-child(2)>span {
    background: url() no-repeat;
    background-color: white;
    transform: scale(1.5);
    transition: 1s transform;
}

#content>.list>.about .about3>.item:hover span {
    transform: scale(1);
}

#content>.list>.about .about3>.item>ul>li {
    float: left;
    position: relative;
    overflow: hidden;
}

#content>.list>.about .about3>.item>ul>li>img {
    /* float: left; */
    position: absolute;
    transition: 1s top, 1s left;
}

#content>.list>.about .about3>.item:hover ul>li>img
/* 第五屏 */

#content>.list>.team {
    background: url() no-repeat;
}

#content>.list>.team .team1 {
    width: 400px;
    margin: 50px;
    float: left;
}

#content>.list>.team .team2 {
    width: 400px;
    margin: 50px;
    float: right;
}

#content>.list>.team .team3 {
    width: 944px;
    height: 270px;
    background-color: white;
    /* float: right; */
    position: absolute;
    left: 50%;
    margin-left: -472px;
    top: 250px;
}

#content>.list>.team .team3>ul {
    position: relative;
    height: 100%;
}

#content>.list>.team .team3>ul>li {
    width: 118px;
    height: 270px;
    background: url() no-repeat;
    float: left;
    background-color: violet;
    transition: 1s opacity;
}

#content>.list>.team .team3>ul>li:nth-child(1) {
    background-position: 0, 0;
}

#content>.list>.team .team3>ul>li:nth-child(2) {
    background-position: -118px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(3) {
    background-position: -236px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(4) {
    background-position: -354px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(5) {
    background-position: -472px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(6) {
    background-position: -590px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(7) {
    background-position: -708px, 0;
}

#content>.list>.team .team3>ul>li:nth-child(8) {
    background-position: -826px, 0;
}

#content>.list>.team canvas {
    position: absolute;
    background-color: pink;
    top: 0px;
}


/* 小圆点 */

#content>.dot {
    position: fixed;
    right: 10px;
    top: 50%;
}

#content>.dot>li {
    width: 20px;
    height: 20px;
    border: 2px solid pink;
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#content>.dot>li.active {
    background-color: white;
}


/* 出入场 */

#content>.list>.home .home1,
#content>.list>.home .home2 {
    transition: 1s transform, 1s opacity;
}

#content .course .plane1 {
    width: 359px;
    height: 283px;
    background-color: pink;
    position: absolute;
    left: 300px;
    top: -100px;
    transition: 1s;
}

#content .course .plane2 {
    width: 309px;
    height: 249px;
    background-color: pink;
    position: absolute;
    left: -100px;
    top: 200px;
    transition: 1s;
}

#content .course .plane3 {
    width: 230px;
    height: 182px;
    background-color: pink;
    position: absolute;
    left: 300px;
    top: 400px;
    transition: 1s;
}

#content .works .pencel1 {
    width: 180px;
    height: 97px;
    background-color: pink;
    position: absolute;
    left: 400px;
    top: 20px;
    transition: 1s;
}

#content .works .pencel2 {
    width: 268px;
    height: 37px;
    background-color: pink;
    position: absolute;
    left: 300px;
    top: 250px;
    transition: 1s;
}

#content .works .pencel3 {
    width: 441px;
    height: 231px;
    background-color: pink;
    position: absolute;
    left: 600px;
    top: 300px;
    transition: 1s;
}

#content>.list>.about .about3>.item,
#content>.list>.team .team1,
#content>.list>.team .team2 {
    transition: 1s transform;
}


/* 音频 */

#head>.headMain .music {
    width: 14px;
    height: 14px;
    background-color: blue;
    float: left;
    margin: 50px 0 0 5px;
}